<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h3 class="red-text text-darken-4">Contact</h3>
        <hr id="hr-research-1">
        <p class="light">Feel free to reach out via any of the channels below.</p>
        <div class="chip">
          <a href="https://github.com/laspsandoval" class="red-text text-darken-4">
            <i class="material-icons" style="vertical-align:middle; font-size:18px; margin-right:6px;">code</i>GitHub
          </a>
        </div>
        <div class="chip">
          <a href="mailto:laura.sandoval@lasp.colorado.edu" class="red-text text-darken-4">
            <i class="material-icons" style="vertical-align:middle; font-size:18px; margin-right:6px;">email</i>laura.sandoval@lasp.colorado.edu
          </a>
        </div>
        <div class="chip">
          <a href="https://www.qrz.com/db/KF0WNG" target="_blank" class="red-text text-darken-4">
            <i class="material-icons" style="vertical-align:middle; font-size:18px; margin-right:6px;">radio</i>KF0WNG
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
