#name {
  margin-bottom: 5px;
}

.parallax-container {
  height: 425px;
}

.research-img {
  margin: 25px 0;
  width: 75%;
}

.research-btns {
  margin: 4px 2px;
}

.card-width {
  width: 292px;
  max-height: 900px;
}

.column {
  vertical-align: top;
  display: inline-block;
}

.m4 {
  margin: 25px 0;
}

.logo-image {
  width: 150px;
}

.column-container {
  margin-left: 15px;
}

#copyright {
  font-size: 10px;
  padding-bottom: 15px;
  margin: 0px;
}

.circle-image {
  width: 100px;
}

h5 {
  font-weight: 400;
}

h6 {
  font-weight: 400;
}

.h7 {
  font-size: 13pt;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

#no-underline:hover {
  text-decoration: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card {
  display: inline-block;
  vertical-align: top;
}

#card-title {
  padding-left: 15px;
  padding-bottom: 12px;
}

.display {
  display: inline-block;
}

#hr-research-1 {
  margin-top: 0px;
  margin-bottom: 25px;
}

#hr-research-2 {
  margin-top: 25px;
  margin-bottom: 15px;
}

.gec {
  margin: 4px 2px;
  padding: 0 20px;
}

#gec-breadcrumb-nav li {
  display: inline-block;
}

#gec-breadcrumb-nav a {
  font-size: 11pt;
  font-weight: 300;
}

.button {
  font-size: 11pt;
  font-weight: 300;
}

.gec-nav {
  margin: 0 0 50px 0;
  height: 50px;
  padding: 0;
}

.chip {
  height: 30px;
  margin-bottom: 20px;
}

.chip a{
  vertical-align: top;
  display: flex;
  justify-content: space-between;
  width: 133px;
}

.linkedin-button {
  margin-bottom: 15px;
}

.email {
  padding-top: 3px;
}

#mobile-demo {
  max-width: 150px;
}
